/*==FONT IMPORT==*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

/*==GENERAL STYLING==*/
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==BODY==*/
body{
    background: #121214;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*==CONTENT==*/
.container{
    background: #343439;
    padding: 30px 40px;
    min-width: 470px;
    color: #efefef;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.input-group{
    display: flex;
    padding: 20px 0;
    gap: 50px;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input-field label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}
.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: 2px #7336ff solid;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
    color: #fff;
}
.input-field input:focus{
    outline: none;
    border-bottom: 3px #7336ff solid;
}

/*==BUTTON==*/
#generate{
    background-color: #7336ff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
    margin: 20px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/*==NUMBER RESULT==*/
#result{
    font-size: 40px;
    font-weight: 600;
}

/*==MOBILE VERSION==*/
@media (max-width:615px){
    .container{
        transform: scale(0.7);
    }
    .input-group{
        transform: scale(0.7);
    }
}
@media (max-width:400px){
    .container{
        transform: scale(0.6);
    }
    .input-group{
        transform: scale(0.6);
    }
}